<html>
<link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
<header>
  <h1 align = "center"> picture successfully uploaded! </h1>
</header>
<body>
  <div id="wrap">
    <div id="main">
      <p> {{ data }} </p>
    </div>
  </div>
  <form method = "post">
  <p>
      <button type= "submit" name = "action" value = "yes">Yes!</button>
      <button type = "submit" name = "action" value = "no">No</button>
  </p>

</form>
</body>
</html>
